<nav class="navbar">
  <div class="navbar-brand">
    <a routerLink="/">KBTU Events Portal</a>
  </div>
  <div class="navbar-links">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
    <a routerLink="/all-events" routerLinkActive="active">All Events</a>

    <a *ngIf="!isUserLoggedIn()" routerLink="/login" routerLinkActive="active" class="navbar-button">Login</a>
    <a *ngIf="isUserLoggedIn()" routerLink="/dashboard" routerLinkActive="active" class="navbar-button">Profile</a>
    <button *ngIf="isUserLoggedIn()" (click)="logout()" class="navbar-button">Logout</button>
  </div>
</nav>
